Repository zebscripts/AFK-Daily, pull requests merged in 2021-09, with the labels that each got.

#99 Dev: nox info
  deploy.sh
Labels: Type: Enhancement :arrow_double_up:, Priority: Low :snowflake:, File: deploy.sh :file_folder:

#96 Fix: pr88
  deploy.sh
  lib/update_setup.sh
Labels: Type: Bug :beetle:, File: deploy.sh :file_folder:, Priority: High :fire:

#98 Dev: Add -z to disable auto update
  .wiki/Usage.md
  deploy.sh
Labels: Type: Feature request :green_heart:, File: deploy.sh :file_folder:, Priority: Medium :tornado:

#97 Add: Skip specific towers within the kings tower
  .wiki/Config.md
  .wiki/Contribute.md
  README.md
  afk-daily.sh
  deploy.sh
  lib/update_setup.sh
Labels: Type: Enhancement :arrow_double_up:, Priority: Low :snowflake:, File: afk-daily.sh :file_folder:

#82 Fix some style issues and add CI (#56)
  .github/workflow/ci.yml
Labels: Type: Enhancement :arrow_double_up:, Priority: Low :snowflake:

#101 Update: Continuous Integration
  .github/workflows/ci.yml
  .shellcheckrc
Labels: Status: Done :heavy_check_mark:, Type: Enhancement :arrow_double_up:, Priority: High :fire:

#117 Fix evt default value = hoe
  afk-daily.sh
  deploy.sh
Labels: File: deploy.sh :file_folder:, Priority: High :fire:

#113 Fix flags
  README.md
  afk-daily.sh
  deploy.sh
Labels: Priority: Low :snowflake:, File: deploy.sh :file_folder:, File: afk-daily.sh :file_folder:
